@model PerfectPoliciesFE.Models.OptionModels.OptionCreate

@{
    ViewData["Title"] = "CreateForQuestion";

    var questionId = Context.Request.RouteValues.Where(c => c.Key == "id").FirstOrDefault().Value;

    var quizId = ViewBag.quizId;

}

<h1>CreateForQuestion</h1>

<h4>OptionCreate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OptionText" class="control-label"></label>
                <input asp-for="OptionText" class="form-control" />
                <span asp-validation-for="OptionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                </label>
            </div>
            @*
                <div class="form-group">
                    <label asp-for="QuestionId" class="control-label"></label>
                    <input asp-for="QuestionId" class="form-control" readonly />
                    <span asp-validation-for="QuestionId" class="text-danger"></span>
                </div>
            *@
            @Html.HiddenFor(c => c.QuestionId)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back", "OptionsByQuestionId", "Option", new { id = Model.QuestionId, quizId = quizId })
</div>

