@{ ViewData["Title"] = "FAQ"; }
<h1>@ViewData["Title"]</h1>

<h5>Frequently Asked Questions</h5>

<h2>Q.</h2>

<p>What is Perfect Policies?</p>

<h2>A.</h2>

<p>Perfect Policies is a tool implemented to help train employees. It allows admin members to create quizzes for employees to complete, therefor enhancing their knowledge. </p>
<br />

<h2>Q.</h2>

<p>I want to make a quiz. How do I do it?</p>

<h2>A.</h2>

<p>You need to make sure you have an account. Click the "Create Account" button in the top right corner and make a username and password. Make sure you are logged in to the account. Then, navigate to the "Quiz view" page by clicking "Quizzes" in the nav bar at the top of the page. From there, just click the "Create Quiz" button and supply the details and click "Create". </p>
<br />

<h2>Q.</h2>

<p>Ok, I made a quiz. How to I make questions?</p>

<h2>A.</h2>

<p>Again, you need to be logged in to create. After you are logged in, select the "Questions" button on the quiz you made, and if the quiz has questions, they will show here. But since you just made the quiz, there are none, so click the "Create Question" button and supply the details, then click "Create" </p>
<br />

<h2>Q.</h2>

<p>Ok, how about adding options to the question?</p>

<h2>A.</h2>

<p>It's the same process as adding questions to a quiz, click the "Options" button on a question that you want to add questions to and create an option from there. Again, you need to be logged in for this.</p>
<br />

<h2>Q.</h2>

<p>Cool, what else can I do whilst logged in?</p>

<h2>A.</h2>

<p>Logging in gives you access to be able to not only create but also edit and delete quizzes, questions or options.</p>
<br />


<h2>Q.</h2>

<p>Is there anything I can do without needing to be logged in?</p>

<h2>A.</h2>

<p>Most functions of this app require authentication (being logged in). However, any functions that don't manipulate data do not require authentication. This means you can still view quizzes, questions and options and view the details about these without needing to log in.</p>
<br />

